.uilib-tooltip{
    position:absolute;
    min-width: 100px;
}

.uilib-tooltip .arrow .arrow-one, .uilib-tooltip .arrow-left .arrow-one{
    display: block;
    border-style: solid;
    border-width: 10px;
    width: 0px;
    height: 0px;
    position:absolute;
    top: 0;
    right:0;
}

.uilib-tooltip .arrow .arrow-two, .uilib-tooltip .arrow-left .arrow-two{
    display: block;
    border-style: solid;
    border-width: 9px;
    margin-top:1px;
    width: 0px;
    height: 0px;
    position:absolute;
    top: 0;
    z-index:11;
}

.uilib-tooltip .arrow .arrow-one{
    border-color: #d4d4d4 transparent transparent transparent;
    border-top-width: 12px;
}

.uilib-tooltip .arrow .arrow-two{
    border-color:#ffffff transparent transparent transparent;
    border-top-width: 11px;
    right: 1px;
    top: -1px;
}


.arrow_box {
    position: relative;
    padding: 6px;
    box-shadow: 0 2px 10px rgba(0,0,0,.3);
    background: #fdfdfd;
    border-radius: 4px;
    border: 1px solid #d4d4d4;
    font-weight: normal;
    text-align: center;
}

.arrow_box:after, .arrow_box:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after{
    border-color: rgba(136, 183, 213, 0);
    border-width: 8px;
}

.arrow_box:before{
    border-color: rgba(194, 225, 245, 0);
    border-width: 9px;
}

.arrow_box.up:after, .arrow_box.up:before {
    bottom: 100%;
    left: 50%;
}

.arrow_box.down:after, .arrow_box.down:before {
    top: 100%;
    left: 50%;
}

.arrow_box.left:after, .arrow_box.left:before {
    right: 100%;
    top: 50%;
}

.arrow_box.right:after, .arrow_box.right:before {
    left: 100%;
    top: 50%;
}

.arrow_box.up:after {
    border-bottom-color: #ffffff;
    margin-left: -8px;
}
.arrow_box.up:before {
    border-bottom-color: #d4d4d4;
    margin-left: -9px;
}

.arrow_box.down:after {
    border-top-color: #ffffff;
    margin-left: -8px;
}
.arrow_box.down:before {
    border-top-color: #d4d4d4;
    margin-left: -9px;
}

.arrow_box.left:after {
    border-right-color: #ffffff;
    margin-top: -8px;
}
.arrow_box.left:before {
    border-right-color: #d4d4d4;
    margin-top: -9px;
}

.arrow_box.right:after {
    border-left-color: #ffffff;
    margin-top: -8px;
}
.arrow_box.right:before {
    border-left-color: #d4d4d4;
    margin-top: -9px;
}