/*
 * settings components
 */
.tpa-box {
    background: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.tpa-appinfo {
    width: 580px;
    height: 135px;
}

.tpa-appicon {
    display: inline-block;
    position: relative;

    width: 86px;
    height: 86px;

    border-radius: 15px;
    -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
.tpa-appicon > .gloss {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.2)));
    height: 50%;
    width: 100%;
    z-index: 1;
    position: absolute;
    box-shadow: inset 0px 2px 1px rgba(255, 255, 255, 0.6);

    border-top-right-radius: 38px 38px;
    border-top-left-radius: 38px 38px;
    border-bottom-right-radius: 120px 30px;
    border-bottom-left-radius: 100px 30px;
}

.tpa-appicon > .img {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 15px;
    background-image: url('http://img829.imageshack.us/img829/3622/iconballblue114.png');
    background-position: center;

    -webkit-background-size: cover; /*for webKit*/
    -moz-background-size: cover; /*Mozilla*/
    -o-background-size: cover; /*opera*/
    background-size: cover; /*generic*/
}

.tpa-box.tpa-text{
    font-family: "Helvetica Neue W01 55 roman";
    color: #8e8e8e;
    font-size: 14px;
}

.tpa-title {
    font-family: "Helvetica Neue W01 55 roman";
    color: #373737;
    font-size: 14px;
}

.tpa-link {
    font-family: "Helvetica Neue W01 55 roman";
    color: #0099ff;
    font-size: 14px;
}

/*
 * main (blue) button
 */
.tpa-main-btn {
    display: inline-block;
    padding: 0 10px;
    border: 1px solid #5B8FA7;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    background: url("../img/button-gradient.png") #2AA7EA repeat-x 0 50%;
    position:relative;
    text-align: center;
    cursor: pointer;
    height: 35px;
    min-width: 80px;
    max-width: 300px;
}

.tpa-main-btn:hover {
    border: 1px solid #237aa7;
    background: #179ce1 none;
    box-shadow: 0 2px 3px rgba(0,0,0,.2), 0 1px 2px 0 rgba(68,175,233,.7) inset;
}

.tpa-main-btn.selected {
    background: #2aa7ea none;
    border-color: transparent;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.7) inset;
}

.tpa-main-btn > label {
    color: #ffffff;
    height:30px;
    line-height:34px;
    font-size: 14px;
}

/*
 * checkbox
 */
.tpa-checkbox {
    background: url("../img/checbox-sprite (2).png") no-repeat;
    width: 16px;
    height: 16px;
}

.tpa-checkbox.checked {
    background-position: 0 0;
}

.tpa-checkbox.unchecked {
    background-position: 0 -17px;
}

/*
 * radio button
 */
.tpa-radio-button {
    background: url("../img/radio-button-sprite (2).png") no-repeat;
    width: 12px;
    height: 13px;
}

.tpa-radio-button.checked {
    background-position: 0 -13px;
}

.tpa-radio-button.unchecked {
    background-position: 0 0;
}

.tpa-slider-bar {
    height: 5px;
    width: 65px;
    position: relative;
}

.tpa-slider-bar-body {
    background: url("../img/slider-bg-pixel.png") repeat-x;
    height: 5px;
    width: 88%;
    display: inline-block;
}

.tpa-slider-bar-right {
    background: url("../img/slider-bg-right.png") no-repeat;
    height: 5px;
    width: 6%;
    display: inline-block;
}

.tpa-slider-bar-left {
    background: url("../img/slider-bg-left.png") no-repeat;
    height: 5px;
    display: inline-block;
    width: 6%;
}

.tpa-slider {
    background: url("../img/slider (5).png") no-repeat;
    background-position: -6px, 0px;
    height: 24px;
    width: 18px;
    position: absolute;
    left: -9px;
    display: inline-block;
}




