.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.btn {
  text-shadow: none;
  background-color: #0099FF;
  background-repeat: repeat-x;
  background-position: 0 50%;
  font-size: 14px;
}
.btn.upgrade,
.btn.default {
	background: #fff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,#fff 0,#f4f4f4 48%,#e7e7e7 52%,#f8f8f8 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(48%,#f4f4f4),color-stop(52%,#e7e7e7),color-stop(100%,#f8f8f8));
	background: -webkit-linear-gradient(top,#fff 0,#f4f4f4 48%,#e7e7e7 52%,#f8f8f8 100%);
	background: -o-linear-gradient(top,#fff 0,#f4f4f4 48%,#e7e7e7 52%,#f8f8f8 100%);
	background: -ms-linear-gradient(top,#fff 0,#f4f4f4 48%,#e7e7e7 52%,#f8f8f8 100%);
	background: linear-gradient(to bottom,#fff 0,#f4f4f4 48%,#e7e7e7 52%,#f8f8f8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f8f8f8', GradientType=0);
  
  color: #848484;
  border-color: #ddd;
}
.btn.blue,
.btn.connect {
  background: #0099FF;
  color: #fff;
  border-color: #5B8FA7;
}
.btn.blue:hover,
.btn.connect:hover {
  color: #fff;
  border: 1px solid #237aa7;
  background-color: #179ce1;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
}
.btn.upgrade {
  color: #a41aa4;
}
.btn.gray {
  color: #444;
  border-color: #888;
}
