/*
.uilib-input{
   border:1px solid rgba(0,0,0,0.3);
}



.uilib-input.valid-input{
   border:1px solid rgba(0,255,0,0.3);
}
*/

input[type="text"].uilib-input.invalid-input,
input[type="password"].uilib-input.invalid-input{
    border:1px solid rgba(255,0,0,0.3);
}


.uilib-input {
    font-family: Helvetica Neue, Helvetica, Arial;
}

input.uilib-input {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
input[type="text"].uilib-input ,
input[type="password"].uilib-input {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}
input[type="text"].uilib-input,
input[type="password"].uilib-input {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

input[type="text"]:focus.uilib-input,
input[type="password"]:focus.uilib-input{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}