html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

ul, li {
    padding: 0;
}

/*
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*/

.wix-logo {
    position: relative;
    top: 4px;
}

.wix-logo > a {
    background: url(images/wix-logo.png) no-repeat;
    height: 19px;
    width: 183px;
    display: block;
}

.white {
    color: #fff;
}

.cell {
    vertical-align: middle;
    display: table-cell;
}

.page {
    display: table;
}

.navigation {
    position: fixed;
    margin: 0;
    top: 0;
    padding-left: 85px;
    width: 100%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000000;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.navigation.shown {
    /*
    display: inline-block;
    animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    */
}

.navigation > ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
}

.navigation > ul > li {
    display: inline-block;
    line-height: 54px;
}

.navigation ul > li > a {
    padding: 10px 15px;
    color: #fff;
}

.container {
    text-align: left;
    margin: 0 30px 25px 100px;
    width: 775px;
}

.pages {
    display: table;
}

.page-welcome {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #292929 url(images/welcome.png) 0 0 repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.page-welcome .container.center {
    text-align: center;
}

.page-welcome .container > h1 {
    font-size: 60px;
    margin-top: 0;
    line-height: 48px;
}

.page-welcome .container > h2 {
    font-size: 30px;
}

.page-welcome .get-ui-lib {
    margin-top: 30px;
}

.page-welcome .get-ui-lib > .uilib-btn {
    margin-right: 10px;
}

.page-welcome .get-ui-lib > .uilib-btn > a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.page-welcome .get-ui-lib > .uilib-btn.extra {
    padding-left: 30px;
    padding-right: 30px;
}

.page-welcome .scrollMore {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 42px;
    width: 34px;
    height: 65px;
    background-image: url(http://static.parastorage.com/services/html-landing/2013/resources/hp_v2/images-v2/1280/scroll_more_out.png);
    background-position: 0px 0px;
}

.page-welcome .scrollMore:hover {
    background-position: 0px -65px;
}

.wix#demo .container > p {
    font-size: 16px;
    line-height: 25px;
}

.demo-container {
    height: 646px;
    width: 600px;
    padding: 0 11px;
}

.demo-container > iframe {
    overflow:hidden;
    width:100%;
    height:100%;
    display: block;
}

/*Start DEMO Style*/
.wix .demo .container{
    width: 622px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: rgb(0, 0, 0) -3px 0px 50px 0px;
    margin: 0;
}

.wix .demo .container .title{
    font-size: 16px;
    display: block;
    padding: 0px 10px;
    border-bottom: 1px solid #cccccc;
    line-height: 34px;
}

.wix .demo .container .footer{
    font-size: 14px;
    display: block;
    padding: 10px;
    border-top: 1px solid #cccccc;
    line-height: 34px;
}

.wix .demo header.box {
    margin: 10px;
}

.wix .demo div.accordion {
    margin: 10px;
}

.wix .demo section.box:last-child {
    padding-bottom: 10px;
}

.wix .demo .left-margin{
    margin-left: 40px;
}

/*End DEMO Style*/
